@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>With the WoodGrove Donations Companion App, you can...</h1>
    <ul>
        <li>Track your charitable contributions throughout the year.</li>
        <li>Use this data at the end of the year to report your tax deductions.</li>
    </ul>

    <p><a class="woodgrove-button btn btn-primary btn-lg" href="@Url.Action("SignIn", "Account")">Get Started</a></p>
</div>